<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
<!-- Import jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Import AtlasKit: https://atlaskit.atlassian.com -->
<link rel="stylesheet" href="//unpkg.com/@atlaskit/css-reset@latest" />
<link rel="stylesheet" href="//unpkg.com/@atlaskit/reduced-ui-pack@latest" />

<!-- Import the Stride Javascript API -->
<script src="https://dev-lib.stride.com/javascript/simple-xdm.js"></script>

<!-- Import local JS file  -->
      <script src="https://cdn.polyfill.io/v2/polyfill.js?features=es6,Array.prototype.includes,fetch"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
