<title>
    Stride ADF Examples Sidebar</title>


<style>
    .td-icon {
        white-space: nowrap;
    }

    .th-app {
        padding-top: 5px;
    }
</style>

</head>


<body>

    <div id="tablediv">
        <table class="ak-grid">
            <thead>
                <tr>
                    <td colspan="2">
                        <h4>Learn Actions by Example </h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Input Actions</th>
                </tr>
                <!------------------ Input Actions Example    ------------>
                <tr>
                    <td>
                        <img src="https://cdn-pro.dprcdn.net/files/acc_546896/3gF1sX" width="240" alt="">
                        <a href="https://developer.atlassian.com/cloud/stride/apis/modules/chat/inputAction/" target="_blank">Link to Input Action Docs</a>
                        <hr>
                    </td>
                </tr>
                <!------------------ Message Actions Example    ------------>
                <tr>
                    <th>Message Action</th>
                </tr>
                <tr>
                    <td>
                        <img src="https://cdn-pro.dprcdn.net/files/acc_546896/Mttl46" width="240" alt="">
                        <a href="https://developer.atlassian.com/cloud/stride/apis/modules/chat/messageAction/" target="_blank">Link to Message Action Docs</a>
                        <hr>
                    </td>

                </tr>
                <tr>
                    <th>Sidebar Action</th>
                </tr>
                <!------------------ Sidebar Example    ------------>
                <tr>
                    <td>
                        <p>Click here to open dialog window from an action target with parameters</p>
                        <button type="button" class="ak-button ak-button__appearance-primary" onclick="Action1()">
                            Sidebar Action
                        </button>
                        <br>
                        <a href="https://developer.atlassian.com/cloud/stride/apis/jsapi/dialog/open/" target="_blank">Link to Javascript API Docs</a>
                        <hr>
                    </td>
                </tr>
                <!------------------  Target Action Example    ------------>
                <tr>
                    <tr>
                        <th>Action Target</th>
                    </tr>
                    <td>
                        <p>Click here to open dialog window from a sidebar action with parameters</p>
                        <button type="button" class="ak-button ak-button__appearance-primary" onclick="Action2()">
                            OpenTarget Action
                        </button>
                        <br>
                        <a href="https://developer.atlassian.com/cloud/stride/apis/jsapi/action/openTarget/" target="_blank">Link to Action Target Docs</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script>
        //Open Dialog with AP.dialog.open    
        function Action1() {
            var dialogOptions = {
                title: "Dialog from Sidebar Action",
                options: {
                    style: "warning",
                    size: {
                        width: "500px",
                        height: "220px"
                    }
                }
            };

            AP.dialog.open({
                key: "app-dialog", // must match the key for the dialog
                options: dialogOptions,
                parameters: {
                    "param1": "This is a sidebar parameter"
                }
            });
        }
        //Open Dialog with AP.action.openTarget 
        function Action2() {
            AP.action.openTarget({
                "target": {
                    "key": "app-action-openDialog"
                },
                "parameters": {
                    "param1": "This is a parameter from and Action Target"
                }
            })
        }



    </script>